body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}
h1 {
	font-size: 28px;
}
h2 {
	font-size: 24px;
}
h5 {
	font-weight: 400;
	margin-top: 0;
	text-transform: uppercase;
}
h6 {
	margin-bottom: 0;
}
.viz-container {
    width: 1170px;
    padding: 20px 0;
    margin-right: auto;
    margin-left: auto;
}

.heatmap {
	display: inline-block;
}
.legend {
	display: inline-block;
	margin-top: 25px;
	vertical-align: top;
}
.legend .block {
	background-color: #f3f3f3;
	border-radius: 5px;
	font-size: 11px;
	height: 46px;
	line-height: 46px;
	margin: 4px 2px 0;
	text-align: center;
	width: 80px;
}
.legend .block.data {
	background-color: #1bb580;
	color: #fff;
}

.axis path {
	display: none;
}
rect {
	rx: 5px;
	ry: 5px;
}
text {
	font-size: 13px;
}
.cell {
	cursor: pointer;
	text-align: center;
}
.cell-text {
	cursor: pointer;
	fill: #fff;
	font-size: 12px;
	text-decoration: underline;
}
.cell:hover {
	fill-opacity: 0.5;
}
.d3-tip {
    padding: 10px 15px;
    background-color:white;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size:1em;
}