body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}
h1 {
	font-size: 28px;
}
h2 {
	font-size: 24px;
}
h5 {
	font-weight: 400;
	margin-top: 0;
	text-transform: uppercase;
}
h6 {
	margin-bottom: 0;
}
.viz-container {
	display: none;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
    width: 1170px;
}
.categoryLabels,
.categoryStats {
	display: flex;
	margin: 0 0 5px 150px;
}
.categorySublabel,
.categoryDescription {
	display: flex;
	margin: 0 0 5px 365px;
}
.categoryLabels div,
.categoryStats div {
	margin-right: 15px;
	text-align: center;
	width: 200px;
}
.categorySublabel div,
.categoryDescription div {
	font-size: 12px;
	margin-right: 2px;
	text-align: center;
	width: 98px;
}
.categorySublabel div:nth-child(2),
.categoryDescription div:nth-child(2) {
	margin-right: 17px;
}
.categoryDescription div {
	color: #999;
}
.categoryLabels div {
	font-size: 16px;
	font-weight: 700;
	text-transform: capitalize;
}
.categoryStats div {
	color: #1bb580;
}
.categoryStats div span {
	font-size: 30px;
}
.categoryStats .pipe {
	color: #000;
	font-size: 14px;
	padding: 0 5px;
}
.heatmap {
	display: inline-block;
}
.legend {
	display: inline-block;
	margin-top: -22px;
	vertical-align: top;
}
.legend label {
	color: #999;
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 6px;
}
.legend .block {
	background-color: #f3f3f3;
	font-size: 11px;
	line-height: 31px;
	margin: 4px 2px 0;
	text-align: center;
	width: 100px;
}
.legend .block.data {
	background-color: #1bb580;
	color: #fff;
}

.axis path {
	display: none;
}
text {
	font-size: 12px;
	text-transform: capitalize;
}
.cell {
	cursor: pointer;
	text-align: center;
}
.cell-text {
	cursor: pointer;
	fill: #fff;
	font-size: 12px;
	text-decoration: underline;
	text-transform: none;
}
.cell:hover {
	fill-opacity: 0.5;
}
.d3-tip {
    padding: 10px 25px;
    background-color:white;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size: 1em;
}
.d3-tip ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.d3-tip li {
	margin-bottom: 2px;
}
.d3-tip li:last-child {
	margin-top: 4px;
}
.d3-tip a {
	text-transform: capitalize;
}
.d3-tip:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 8px;
	margin-left: -8px;
}